<div class="row">
  <div class="col-md-8">
    <h1 class="text-center">Take Your Snap</h1>
      <%= render 'form', product: @product %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', products_path,class:'btn btn-primary' %>    
  </div>
</div>

