<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <meta content="shailesh prajapati" name="author" />
    <meta name="keywords" content="Rails,Jquery,carrierwave,carrierwave-base64,selfie">
    <meta name="twitter:title" content="Take selfie"/>
    <meta name="twitter:description" content="Now take selfie in your laptop and use this selfie"/>
    <meta content=" https://take-selfie.herokuapp.com/" property="og:url" />
    <meta content=("take-selfie.herokuapp.com India") property="og:site_name" />
    <meta name="google:title" content="Take selfie"/>
    <meta name="google:description" content="Now take selfie in your laptop and use this selfie"/>
    <meta name="robots" content="noindex" />
    <meta name="google" content="nositelinkssearchbox" />
    <title>TakeSnap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
